
<!DOCTYPE html>
<html>
<body>

    
<!-- <h1>Player Registration</h1> -->
<!-- <div class="alert alert-warning" *ngIf="ageError">Players who are less than 18 years are not allowed to participate in this game</div>
<div class="alert alert-warning" *ngIf="agePError">Please Enter Player Age</div>
<div class="alert alert-warning" *ngIf="nameError">Please Enter Player Name</div>
<div class="alert alert-warning" *ngIf="pNameError">Please Enter Player Team Name</div> -->


<!-- <div class="container">
    Player Team Name : <input type="text" name="player.playerTeamName" [(ngModel)]="player.playerTeamName"  >
    Player Name : <input type="text" name="player.playerName" [(ngModel)]="player.playerName" >
    Player Age : <input type="text" name="player.playerAge" [(ngModel)]="player.playerAge" >
    Player Caption : <input type="text" name="player.playerCaption" [(ngModel)]="player.playerCaption" >
    <button (click)=savePlayer() class="btn btn-success">Save</button>
</div> -->

<table class="table">
<thead >

    <th colspan="2">
        Player Registration</th>
  </thead>
  <tbody>
    
    <tr>
      <td class="i"> Player Team Name  </td>
      <td> <input type="text" name="player.playerTeamName" [(ngModel)]="player.playerTeamName"  ></td>
    </tr>
    <tr>
      <td class="i"> Player Name  </td>
      <td> <input type="text" name="player.playerName" [(ngModel)]="player.playerName" ></td>
    </tr>
    <tr>
        <td class="i"> Player Age   </td>
        <td> <input type="text" name="player.playerAge" [(ngModel)]="player.playerAge" ></td>
      </tr>
      <tr>
        <td class="i">Player Caption</td>
        <td> <input type="text" name="player.playerCaption" [(ngModel)]="player.playerCaption" ></td>
      </tr>
    <tr>
      <td colspan="2"><button (click)=savePlayer() class="btn btn-success">Register</button> </td>
    </tr>
    <tr ><td colspan="2">
      <div class="alert alert-warning" *ngIf="ageError">Players who are less than 18 years are not allowed to participate in this game</div>
    <div class="alert alert-warning" *ngIf="agePError">Please Enter Player Age</div>
    <div class="alert alert-warning" *ngIf="nameError">Please Enter Player Name</div>
    <div class="alert alert-warning" *ngIf="pNameError">Please Enter Player Team Name</div>
  </td> </tr>
  </tbody>
</table>

</body>
</html>