html,body{
    height: 100%;
}
body{
    background-image: url('/assets/images/game3.jpg') ;
    /* height: 670px;
    width: 1200px; */
    height: 672px;
    margin-left: -96px;
    margin-right: -94px;

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  

}
button{
    background-color:black;
    color: white;
    border-radius: 20px;
    width: 320px;
    height : 65px;
    font-size: 30px;
    border: 3px solid goldenrod;
    font-style: bold;
    font-family: sans-serif;
    margin-left: 450px;
}
button:hover{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 340px;
    height : 72px;
    font-size: 32px;
    border: 2px solid goldenrod;
    font-style: bold;
    font-family: sans-serif;
    margin-left: 440px;
    cursor: pointer;
}


