<div class="container" >
    <marquee behavior="alternate" style="margin-top: 70px;"><h1>Welcome to Player's Den</h1></marquee>
    <!-- <div class="smooth-scroll"><h1 >Welcome to Player's Den</h1></div> -->

    <table>
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>
                    <a routerLink="register-team">Register Team</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLink="register-player">Register as a player</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLink="leaderboard">Leaderboard</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLink="start-game">Go To Tournament</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>